body{
    margin: 0;
    padding: 0;
    background-image: url(background_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* rgba(205, 0, 0, 0.605) kırmızı */

.container{
    background-attachment: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    width: 20%;
    height:25% ;
    background-color:#191919 ;
    /* background-color: #444451; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

.row{
    display: flex;
}

.seat{
    width: 25px;
    height: 25px;
    margin:4px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    /* background-color: #444451; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.infoSeat{
    width: 25px;
    height: 25px;
    margin:4px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    /* background-color: #444451; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}

.selected{
    background-color: rgba(205, 0, 0, 0.459) ;
}

.reserved{
    background-color: rgba(221, 221, 221, 0.712) ;
}

.seat:nth-of-type(2){
    margin-right: 30px;
}

.seat:nth-last-of-type(3){
    margin-right: 20px;
}

.seat:not(.reserved):hover{
    cursor: pointer;
    transform: scale(1.3);
    /* background-color: #191919; */
    border: 1px solid #777;
    box-sizing: border-box;
}

.screen{
    width: 20%;
    height:10%;
    background-color: rgba(221, 221, 221, 0.712);
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.7);
}

.movie-list{
    margin: 20px 0px;
    width: 20%;
    height: 3%;
    display: flex;
}
.btn{
    width: 25%;
    background-color: rgba(221, 221, 221, 0.712);
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0px 5px;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: #191919;
    color: rgba(221, 221, 221, 0.712);
}

#movie{
    width: 50%;
    height: 100%;
    background-color: rgba(221, 221, 221, 0.712);
    outline: none;
    border-radius: 5px;
}

.infoBox{
    width: 20%;
    height:auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color:#191919 ;
    border-radius: 15px;

}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    padding: 5px 10px;
}

.info li{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    list-style: none;
    margin: 0px 15px;
}

.priceBox{
    width: 20%;
    height:auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color:#191919 ;
    border-radius: 15px;
    margin-top: 20px;
    color: #777;
    padding: 0px 10px;
    box-sizing: border-box;
    text-align: center;
}
.priceBox span{
    color: lightpink;
    font-size: 20px;
}




@media only screen and (min-width:1300px) and (max-width:1500px) {
    .content{
        width: 25%;
        height:25% ;

    }
    .screen{
        width: 25%;
        height:10%;
    }
    .movie-list{
        width: 25%;
        height: 3%;

    }
    .infoBox{
        width: 25%;
    }
    .priceBox{
        width: 25%;
    }

}

@media only screen and (min-width:1000px) and (max-width:1300px) {
    .content{
        width: 30%;
        height:25% ;

    }
    .screen{
        width: 30%;
        height:10%;
    }
    .movie-list{
        width: 30%;
        height: 3%;

    }
    .infoBox{
        width: 30%;
    }
    .priceBox{
        width: 30%;
    }

}

@media only screen and (min-width:850px) and (max-width:1000px) {
    .content{
        width: 36%;
        height:25% ;

    }
    .screen{
        width: 36%;
        height:10%;
    }
    .movie-list{
        width: 36%;
        height: 3%;

    }
    .infoBox{
        width: 36%;
    }
    .priceBox{
        width: 36%;
    }

}

@media only screen and (min-width:750px) and (max-width:850px) {
    .content{
        width: 41%;
        height:25% ;

    }
    .screen{
        width: 41%;
        height:10%;
    }
    .movie-list{
        width: 41%;
        height: 3%;

    }
    .infoBox{
        width: 41%;
    }
    .priceBox{
        width: 41%;
    }

}

@media only screen and (min-width:550px) and (max-width:750px) {
    .content{
        width: 57%;
        height:25% ;

    }
    .screen{
        width: 57%;
        height:10%;
    }
    .movie-list{
        width: 57%;
        height: 3%;

    }
    .infoBox{
        width: 57%;
    }
    .priceBox{
        width: 57%;
    }

}

@media only screen and (max-width:550px){
    .content{
        width: 85%;
        height:25% ;

    }
    .screen{
        width: 85%;
        height:10%;
    }
    .movie-list{
        width: 85%;
        height: 3%;

    }
    .infoBox{
        width: 85%;
    }
    .priceBox{
        width: 85%;
    }
}


@media screen and (max-height:650px) {

    .content{
        height:35% ;

    }
    .screen{
        height:20%;
    }
    .movie-list{
        height: 6%;

    }
}