body{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    height: 100vh;
    background-color: #151D3B;
    position: relative;
    transition: background 0.5s ease;
}

.container{
    width: 20%;
    height: 60%;
    background-color: aliceblue;
    top:25%;
    margin: auto;
    position: relative;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 1);
    transition: all 0.5s ease;
}

.content{
    width: 100%;
    height: 100%;
}

table{
    margin: auto;
    top: 5vh;
    position: relative;
    width: 90%;
    height: 35vh;
    text-align: center;
}

.btn{
    width: 10%;
    height: 10%;
    background-color: #151D3B;
    cursor: pointer;
    border-radius: 50%;
    color:#fff ;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.text{
    margin-top: -10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Grape Nuts', cursive;
    color: #fff;
}
.input{
    margin: auto;
    height: 10%;
    width: 90%;
    background-color: #ddd;
    text-align: right;
    font-size: 45px;
    box-sizing: border-box;
    padding-right: 10px;
    color: #151D3B;
    font-family: 'Orbitron', sans-serif;
}

#screen{
    overflow-x: auto;
}
.btn:hover{
    background-color: #DFDFDE;
    color: #151D3B;
    /* font-size: 30px; */
}

.btn.btn2{
    background-color: #ddd;
    color: #151D3B;
    font-weight: bolder;
}

.btn.btn2:hover{
    background-color: #151D3B;
    color: #ddd;
}

/* Black Mode */

.theme{
    width: 80px;
    height: 40px;
    background-color: #ddd;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}


.theme_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mode_moon{
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode_sun{
    width: 40%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode_ball{
    position: absolute;
    width: 40%;
    height: 30px;
    background-color: #151D3B;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}



@media only screen and (max-width:900px) {
    .container{
        width: 50%;
        height: 60%;
    }
}


@media only screen and (max-width:768px) {
    .container{
        width: 80%;
        height: 60%;
    }
}

