*{
    margin: 0;
    padding: 0;
}

body{
        background-color: #1f222C;
    }


.searching-box{
        width: 200px;
        height:auto;
        padding:15px;
        margin:15px;
        background-color: #474C5A;
        border-radius: 15px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        position: relative;
        background-color: #1f222C;
        height: 30px;
        width: auto;
        border-radius: 15px;
        }

    .search{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:10px;
    }

    .search input{
        width: auto;
        background-color: transparent;
        border:none;
        outline: none;
        color:beige;
            
    }
    .icon{
        align-self: center;
        margin-left:10px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2ccdea
    }
    .search input::placeholder{
        color:#2ccdea;
    }
    .content{
        margin:10px;
        padding-top: 5px;
    }
    .content ul li{
        list-style: none;
        padding-bottom: 5px;
    }
    .content ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }
    .content h6{
        color:#2ccdea;
        font-size:10px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .content ul li a:hover{
        color:#2ccdea;
        font-weight: bolder;
    }
